html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
}

.header__logo {
  padding-right: 36px;
  padding-top: 39px;
  padding-bottom: 38px;
}

.header__description {
  padding-top: 41px;
  padding-bottom: 41px;
}

.intro {
  min-width: 1916px;
  min-height: 840px;
  background: url(img/helimain.png) no-repeat center;
  padding-top: 300px;
}

.intro__title {
  max-width: 887px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: rgba(255, 255, 255, 1);
}

.intro__title span {
  color: rgba(252, 155, 9, 1);
}

.button__occupy {
  margin-top: 12px;
  width: 304px;
  height: 68px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

.popup__container{
  display: flex;
  width: 100%;
  height: 100%;
}

.price__conteiner {
  display: flex;
  margin-top: 29px;
  margin-bottom: 12px;
  width: 224px;
  height: 90px;
  background: #fc9b09;
  border-radius: 5px;
}

.popup__body{
  margin: auto;
   width: 500px;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   padding: 100px 15px 110px 15px;
   position: relative;
}

.popup__title{
  width: 439px;
  height: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #37373F;
}

.summa__block {
  width: 110px;
}

.precent__block {
  width: 100px;
}

.cost__box {
  padding-top: 13px;
  padding-left: 18px;
}
.cost {
  font-weight: 400;
  font-size: 20px;
  line-height: 151.16%;
  color: #ffffff;
}

.amount__box {
  padding-left: 18px;
}

.amount {
  font-weight: 800;
  font-size: 35px;
  line-height: 100%;
  color: #ffffff;
}

.crug__box {
  padding-top: 22px;
  padding-left: 30px;
}

.crug {
  width: 52px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.precent {
  padding-left: 10px;
  line-height: 151.16%;
  font-weight: 800;
  font-size: 35px;
  color: #ffffff;
}

.triangle__block {
  padding-top: 6px;
  padding-right: 100px;
}

.triangle {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 20px solid #fc9b09;
  border-radius: 5px;
}

.container {
  display: flex;
}

.container1 {
  width: 549px;
}

.container2 {
  margin-top: 70px;
  padding-left: 30px;
}

.love1 {
  width: 530px;
  height: 374px;
  border-radius: 4px;
}

.foto__subtitle {
  padding-top: 70px;
  padding-bottom: 18px;
}

.foto__subtitle-text {
  width: 460px;
  height: 90px;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: rgba(55, 55, 63, 1);
}

.flight__description {
  padding-top: 5px;
  padding-bottom: 29px;
}

.flight__description-text {
  width: 549px;
  height: 73px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.bloc__element {
  display: flex;
}

.element__icon {
  width: 35px;
  height: 33px;
}

.element__text {
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #37373f;
}

.reviews {
  display: flex;
}

.cup {
  width: 32px;
  height: 36px;
  margin-top: 20px;
}

.reviews__text {
  padding-left: 12px;
  padding-top: 32px;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.star {
  width: 118px;
  height: 17px;
  padding-left: 14px;
  margin-top: 34px;
  margin-bottom: 36px;
}

.line__box {
  padding-right: 569px;
}

.line {
  width: 550px;
  border: 0.5px solid #c7c7c7;
}

.line__box-1 {
  padding-right: 569px;
}

.line__1 {
  width: 550px;
  border: 0.5px solid #c7c7c7;
}

.foto__package {
  padding-top: 30px;
  padding-bottom: 37px;
}

.foto__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #37373f;
}

.block__fhoto {
  width: 276px;
  height: 185px;
}

.fhotos {
  padding-bottom: 45px;
}

.fhotos > img {
  padding-right: 7px;
  padding-bottom: 7px;
}

.show__photos {
  padding-left: 470px;
}

.show__ph {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #5286ec;
  text-decoration: none;
}

.arrow {
  width: 11px;
  height: 6px;
}

.arrow1 {
  width: 11px;
  height: 6px;
}

.line__box-3 {
  padding-right: 100px;
}

.line3 {
  margin-top: 27px;
  width: 1111px;
  border: 0.5px solid #c7c7c7;
}

.organizator__text {
  padding-top: 31px;
}

.org__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.organezator__description {
  padding-top: 14px;
  width: 584px;
  height: 242px;
}

.org__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #37373f;
  line-height: 25px;
}

.read {
  margin-top: 30px;
}

.read__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5286ec;
  text-decoration: none;
}

.provide__text {
  padding-top: 41px;
  padding-bottom: 14px;
}

.prv__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.provide__description {
  width: 584px;
  height: 118px;
}

.prv__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #37373f;
  line-height: 24px;
}

.read1 {
  margin-top: 10px;
}

.read__text1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5286ec;
  text-decoration: none;
}

.line4 {
  margin-top: 41px;
  border: 0.5px solid #c7c7c7;
}

.container__service {
  display: flex;
}

.container__service2 {
  display: flex;
}

.marina {
  padding-left: 220px;
  padding-top: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37373f;
}

.img__marina {
  width: 400px;
  height: 400px;
}

.marina__picture {
  padding-left: 226px;
  padding-top: 68px;
}

.marina__photo {
  padding-left: 260px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #37373f;
}

.marina__description {
  padding-left: 200px;
  padding-top: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5286ec;
  text-align: center;
}

.heart__img {
  padding-top: 55px;
  padding-right: 70px;
}

.shooting__text {
  padding-top: 50px;
  margin-bottom: 80px;
  width: 288px;
  height: 51px;
}

.shooting__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #37373f;
}

.square {
  width: 770px;
  height: 458px;
  border: 1px solid #c7c7c7;
}

.line11 {
  border: 0.1px solid #e2e1e1;
  display: flex;
}

.line12__box {
  display: flex;
}

.line12 {
  border: 0.1px solid #e2e1e1;
}

.data__box {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
}

.calendar {
  padding-left: 14px;
  padding-bottom: 15px;
}

.data {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.time__box {
  padding-top: 20px;
}

.time__text {
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
}

.summa1500 {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
}

.place {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
  padding-left: 30px;
}

.choose__box {
  width: 129px;
  height: 50px;
  padding-top: 40px;
  padding-left: 230px;
}

.choose {
  width: 129px;
  height: 50px;
  text-align: center;
  color: #fc9b09;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 2px solid #fc9b09;
  border-radius: 3px;
}

.choose1__box {
  width: 129px;
  height: 50px;
  padding-top: 40px;
  padding-left: 60px;
}

.reviews1 {
  display: flex;
  padding-left: 25px;
}

.place1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37373f;
  padding-left: 30px;
  padding-bottom: 20px;
}

.map__fon {
  min-width: 1916px;
  min-height: 509px;
  margin-top: 82px;
  background: url(img/map_1.png) no-repeat center;
  margin-bottom: 131px;
}

.map__box {
  margin-left: 350px;
  padding-top: 20px;
}

.square__map {
  width: 420px;
  height: 469px;
  background: white;
  border: 1px solid #c7c7c7;
}

.block__element {
  display: flex;
}

.circle {
  margin-top: 45px;
  margin-left: 25px;
  width: 57px;
  height: 57px;
  background: #fc9b09;
  border-radius: 30px;
  text-align: center;
}

.circle span {
  width: 27px;
  height: 42px;
  font-weight: 700;
  font-size: 35px;
  line-height: 54px;
  color: #ffffff;
}

.square__text {
  margin-left: 18px;
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1px;
  color: #37373f;
}

.square__text-1 {
  margin-left: 18px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #37373f;
}

.square__text-name {
  padding-top: 50px;
  padding-left: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 5px;
}

.square__text-2 {
  padding-left: 18px;
  padding-top: 12px;
}

.img__profile {
  width: 57px;
  height: 57px;
  margin-top: 45px;
  margin-left: 25px;
}

.information {
  padding-top: 2px;
  padding-left: 18px;
  font-weight: 500;
  font-size: 14px;
  color: #5286ec;
}

.people__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #37373f;
}

.valeria__box {
  display: flex;
}

.valeria__name {
  padding-left: 20px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37373f;
}

.art__director {
  padding-left: 20px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #37373f;
}

.estimation {
  display: flex;
  padding-bottom: 20px;
}

.stars {
  padding-left: 20px;
  padding-right: 50px;
}

.valeria__est {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
}

.valeria__img {
  width: 15px;
  height: 11.5px;
}

.valeria__description {
  width: 530px;
  height: 96px;
  margin-bottom: 20px;
}

.valeria__reviews {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #37373f;
}

.valeria__data {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b3b3b3;
}

.line__reviews {
  padding-right: 450px;
}

.line__rew {
  width: 510px;
  border: 0.5px solid #c7c7c7;
  margin-bottom: 40px;
}

.vitaliy__box {
  display: flex;
}

.vitaly__name {
  padding-left: 20px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37373f;
}

.photograp__vitaliy {
  padding-left: 20px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #37373f;
}

.estimation__vitaliy {
  display: flex;
  padding-bottom: 20px;
}

.stars__vitaliy {
  padding-left: 20px;
  padding-right: 50px;
}

.vitaliy__est {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
}

.vitaliy__img {
  width: 15px;
  height: 11.5px;
}

.vitaliy__description {
  width: 510px;
  height: 96px;
  margin-bottom: 20px;
}

.vitaliy__reviews {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #37373f;
}

.vitaliy__data {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b3b3b3;
}

.line__reviews1 {
  padding-right: 450px;
}

.line__rew1 {
  width: 510px;
  border: 0.5px solid #c7c7c7;
  margin-bottom: 40px;
}

.jim__box {
  display: flex;
}

.jim__name {
  padding-left: 20px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.stars__jim {
  padding-left: 20px;
  padding-right: 50px;
}

.estimation__jim {
  display: flex;
  padding-bottom: 20px;
}

.jim__est {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
}

.jim__img {
  width: 15px;
  height: 11.5px;
}

.jim__description {
  width: 530px;
  height: 165px;
  margin-bottom: 20px;
}

.jim__reviews {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #37373f;
}

.jim__data {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b3b3b3;
}

.line__reviews2 {
  padding-right: 450px;
  margin-bottom: 47px;
}

.line__rew2 {
  width: 510px;
  border: 0.5px solid #c7c7c7;
}

.show {
  display: flex;
  margin-left: 500px;
}

.sign__box {
  width: 11px;
  height: 6px;
  margin-top: 10px;
}

.sign1 {
  color: #c7c7c7;
  margin-bottom: 156px;
}

.show__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #5286ec;
  padding-left: 6px;
  padding-right: 6px;
}

.footer__container1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  min-width: 1920px;
  min-height: 100px;
  background: white;
}

.footer__logo {
  padding-top: 50px;
  padding-left: 410px;
}

.footer__icons {
  padding-top: 50px;
  padding-left: 730px;
}

.img__facebook {
  padding-right: 30px;
}

.img__vk {
  padding-right: 30px;
}

.img__instagram {
  padding-right: 30px;
}

.img__ru {
  padding-right: 6px;
  padding-top: 22px;
}

.lang {
  padding-left: 6px;
  padding-top: 38px;
}

.footer__container2 {
  display: flex;
  min-width: 1920px;
  min-height: 77px;
  background: #faf9f8;
}

.cards {
  display: flex;
  padding-left: 410px;
  padding-top: 13px;
}

.mastercard {
  padding-right: 20px;
}

.support {
  padding-left: 320px;
  padding-top: 5px;
}

.support__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
}

.support {
  padding-left: 320px;
}
